.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: 2s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes fadeInUp {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
  } 
  .boxMainImageContainer{
    width: 70%;
    margin: 0 5px;
    height: 60vh;
  }
  .boxSideImageContainer{
    margin: 0 10px;
    width: 30%;
    height: 60vh
  }
  .decoration {
    display: flex;
  }
  
  .boxmobileresp{
    width: 400px;
    height: 100%;
  }
  .infoSection{
    display: flex;
    flex-direction: row;
    margin: 10px;
  }
  .infoMainSection{
    width: 70%;
    border-right: 1px solid #212222;

  }
  .infoSideSection{
    width: 30%;
  }
  .loading{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .div{
      width: 2rem;
      height: 2rem;
      margin: 2rem 0.3rem;
      background-color: #ffa31a;
      border-radius: 50%;
      animation: 0.9s bounce infinite alternate;
      color: black;
      
  }
  .div:nth-child(2) {
    animation-delay: 0.3s;
  }
  
  .div:nth-child(3) {
    animation-delay: 0.6s;
  }
  
  @keyframes bounce {
    to {
      opacity: 0.3;
      transform: translate3d(0, -1rem, 0);
    }
  }
  .paginationbtns{
    list-style: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 0 auto;
  }
  .paginationbtns a{
    text-decoration: none;
    color: #000000;
    font-size: 1.1rem;
    margin: 0 10px;
  }
  .paginationbtnActive a{
    margin: 15px;
    text-decoration: none;
    color: #000000
  }
  .previousbtns {
    margin-top: 10px; 
  }
  .nextbtns {
    margin-top: 10px; 
  }
  .indexfilterbody{
    height: 100vh;
    width: 100vw;
  }
  .indexfiltercontainer{
    width: 50%;
    justify-content: center;
    flex-direction: column;
  }
  .filterform{
    display: flex;
    background-color: #212222;
    width: 60vw;
    padding: 10px;
    top:30vh;
    left: 5vw;
    border-radius: 15px;
    flex-direction: column;
    position: absolute;
    z-index: 1;
  }
  .imagefiltercontainer{
      flex:1;
        height: 100vh;
        display: flex;
    }
  .filterformHeading{
    font-size: 36px;
  }
  .filterforminfo{
    font-size: 20px
  }
  @media screen and (max-width: 48em) {
    .decoration {
      display: none;
    }
    .mobileresp{
      flex-direction: column;
    }
    .boxmobileresp{
      width: 98%;
    }
    .boxMainImageContainer{
      width: 100vw;
      margin: 0;
    }
    .boxSideImageContainer{
      display: none;
    }
    .infoSection{
      flex-direction: column;

    }
    .infoMainSection{
      width: 100%;
      border: none
    }
    .infoSideSection{
      width: 100%;
      margin-top: 5px;
      flex-direction: column-reverse;
    }
    .scrollbar::-webkit-scrollbar{
      display: none; 
    }
    .indexfilterbody{
      height: 100vh;
      width: 100vw
    }
    .indexfiltercontainer{
      width: 0
    }
    .filterform{
      display: flex;
      background-color: #212222;
      width: 90vw;
      padding: 10px;
      top:-50px;
      left: 5vw;
      border-radius: 15px;
      flex-direction: column;
      position: relative;
      z-index: 1
    }
    .imagefiltercontainer{
      width: 100vw;
      height: 100vh
    }
    .filterformHeading{
    font-size: 32px;
    }
    .filterforminfo{
      font-size: 16px
    }
    .headernav{
      display:none;
    }
  }